.form {
    border: 3px solid #cdcdcd;
    display: flex;
    height: 64px;
    align-items: center;
   /* border-radius: 10px;*/
    padding-right: 1rem;
    margin-bottom: 3rem;
    background-color: whitesmoke;
  }
  .todoInput {
    /* border: 2px solid purple; */
    height: 100%;
    width: 80%;
    background-color: transparent;
    border: none;
    padding: 0.5rem;
    outline: none;
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
  }
  .todoButton {
    /* border: 2px solid lightblue; */
    border: 2px solid white;
    height: 70%;
    width: 20%;
    font-weight: bold;
    font-size: 1.2rem;
    background-color: rgb(173, 150, 146);
    align-items: center;
    color: #232323;
  }


  @media(max-width:1024px){
    .todoButton{
      padding: 0.5rem;
    }

  }


  @media(max-width:768px){
    .todoButton{
padding: 0.4rem;
    }

  }

  @media(max-width:480px){
    .todoButton{
padding: 0.2rem;
    

  }
}
